<div class="container">
    <div class="row">
        <div class="col s12">
            <h5 class="header">Coach Registration form</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="alert alert-success" role="alert" id="user-creation-alert" style="display:none">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <form id="new-coach-form" class="col s12" data-id={{id}}>
                <div class="input-field">
                    <input placeholder="" id="coach-name" type="text" required="" class="validate">
                    <label for="player-name">Coach Name</label>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="" id="phone-number" type="text" required="" class="validate">
                        <label for="phone-number">Phone Number</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="" id="email" type="email" required="" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>

                <button class="btn waves-effect waves-light btn-small" id="new-coach">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
</div>

<script>
    $("#new-coach-form").on("submit", function (event) {
        event.preventDefault();
        const name = $("#coach-name").val();
        const email = $("#email").val();
        const phone = $("#phone-number").val();
        $.ajax({
            url: `/api/coach`,
            method: "POST",
            data: {
                fullName: name,
                email: email,
                phone: phone

            }
        }).then(function (coach) {
            
            window.location.replace("/");
        });

    });




</script>