<!-- Form Section -->
<div class="container">
    <div class="row" style="padding-top:30px">
        <div class="col s12">

            <form class="login">
                <!-- Change The Form Method From Here-->
                <div class="card-panel z-depth-5">

                    <!-- Form Logo Section  -->

                    <div class="row margin">
                        <div class="col s12 m12 l12 center">
                            <img src="/assets/images/logo.png" alt="" class="responsive-img circle"
                                style="width:100px;">
                            <p>Login Page</p>
                        </div>
                    </div>

                    <!-- Form Username Input Section -->

                    <div class="col s12 m12 l12">
                        <div class="input-field">
                            <i class="material-icons prefix">person</i>
                            <input type="text" name="username" placeholder="" required="" id="email-input"
                                class="validate">
                            <label for="email-input">Username</label>
                        </div>
                    </div>

                    <!-- Form Password Input Section -->

                    <div class="col m12 l12">
                        <div class="input-field">
                            <i class="material-icons prefix">lock</i>
                            <input type="password" name="password" placeholder="" required="" id="password-input"
                                class="validate">
                            <label for="password-input">Password</label>
                        </div>
                    </div>

                    <br><br>


                    <!-- Form Chekbox (Remember Me) Input Section -->
                    {{!-- <div class="col m12 l12">
                        <div class="left">
                            <p>
                                <label>
                                    <input type="checkbox" checked="checked" id="player-checkbox" />
                                    <span>Login as Player</span>
                                </label>
                            </p>
                        </div>
                    </div> --}}

                    <br><br>

                    <!-- Form Button Section  -->

                    <div class="center">
                        <input type="submit" value="Login" name="login" class="btn waves-effect waves-light "
                            style="width:100%;">
                    </div>

                    <!-- ALERT -->
                    <div class="row hide" id="alert-box">
                        <div class="col s12">
                            <div class="card red darken-1">
                                <div class="row">
                                    <div class="col s12 ">
                                        <div class="card-content white-text " id="alert-message">
                                            <p>Login Failed. Invalid username or password</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ALERT -->

                    <!-- Form "Register Now" And "Forgot Password" Link Section. -->

                    <div class="" style="font-size:14px;"><br>
                        <a href="/coach/new" class="left">Register Now!</a>

                    </div><br>
                </div>
            </form>



        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {


        // Getting references to our form and inputs
        var loginForm = $("form.login");
        var emailInput = $("input#email-input");
        var passwordInput = $("input#password-input");

        emailInput.on("click", function () {
            $("#alert-box").addClass("hide");
        });

        // When the form is submitted, we validate there's an email and password entered
        loginForm.on("submit", function (event) {
            event.preventDefault();
            var userData = {
                email: emailInput.val().trim(),
                password: passwordInput.val().trim()
            };

            if (!userData.email || !userData.password) {
                return;
            }
            // If we have an email and password we run the loginUser function and clear the form
            loginUser(userData.email, userData.password);

            emailInput.val("");
            passwordInput.val("");
        });

        // loginUser does a post to our "api/login" route and if successful, redirects us the the members page
        function loginUser(email, password) {
            $.post("/api/login", {
                email: email,
                password: password,
                player: true

            })
                .then(function (user) {

                    if (user.role === "player") {
                        window.location.replace("/players/" + user.roleId);
                    }
                    else {
                        window.location.replace("/coach/" + user.roleId);
                    }
                })
                .catch(function (err) {
                    console.log(err);
                    $("#alert-box").removeClass("hide");
                });
        }


    });
</script>